.nav-signin {
  background: transparent;
  border: none;
  margin: 0;
  display: flex;
  align-items: center;
}

.nav-signin_:hover {
  background: salmon;
}

.nav-signin p {
  text-transform: none;
  background: transparent;
  margin: 0;
  line-height: 2.5rem;
  color: #666666;
}

.nav-signin:hover > p {
  background: transparent;
  text-decoration: underline;
}